# Dependencies & Logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage & Environment
coverage/
.env
.env.*

# Build & Cache Outputs
*.tsbuildinfo
.npm
.eslintcache
*.tgz
# dist/ # Uncomment if needed
# build/